@charset "UTF-8";

dl {
	width: 990px;
	border: 1px solid #cccccc;
}

dl dt{
	float: left;
	padding: 1em;
}

dl dd{
	margin: 0;
	padding: 1em 0 1em 18em;
}

input[type="email"] {
	width: 50%;
}

input{
	font-size: 1em;
	padding: 5px;
	margin-right: 1em;
	margin-left: 1em;
}

input[type="submit"]{
	padding: 20px 100px;
	background: #7f6666;
	color: #ffffff;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
}

input[type="reset"]{
	padding: 5px 20px;
	background: #7f6666;
	color: #ffffff;
	border-radius: 10px;
	cursor: pointer;
}

input[type="submit"]:hover{
	opacity: 0.8;
}

input[type="reset"]:hover{
	opacity: 0.8;
}
